extends layout
block content
    h1 Jouer contre un adversaire

    form(action='/vsadversaire' method='POST')
        div(class="form-group")
            label(for='pseudoConnexion1') Pseudo joueur 1:
                input(id="pseudoConnexion1" type='pseudo', placeholder='pseudo' name='pseudoConnexion1')
            label(for='pseudoConnexion2') Pseudo joueur 2:
                input(id="pseudoConnexion2" type='pseudo', placeholder='pseudo' name='pseudoConnexion2')
        div(class="form-group")
            label(for='mdpConnexion1') Password joueur 1:
                input(id="mdpConnexion1" type='password', placeholder='password' name='mdpConnexion1')
            label(for='mdpConnexion2') Password joueur 2:
                input(id="mdpConnexion2" type='password', placeholder='password' name='mdpConnexion2')
        button(type="submit" class="btn btn-primary") Connexion



