include jeu.pug

block content
    h1 Jouer contre un adversaire

    h1 Connexion
        form(action='/' method='POST')
            div(class="form-group")
                label(for='pseudoConnexion') Pseudo:
                    input(id="pseudoConnexion" type='pseudo', placeholder='pseudo' name='pseudoConnexion')
            div(class="form-group")
                label(for='mdpConnexion') Password:
                    input(id="mdpConnexion" type='password', placeholder='password' name='mdpConnexion')
            button(type="submit" class="btn btn-primary") Connexion


        h2 Si vous n'avez pas encore de compte
        h1 Création du compte
        form(action='/' method='POST')
            div(class="form-group")
                label(for='pseudo') Pseudo:
                    input(id="pseudo" type='pseudo', placeholder='pseudo' name='pseudo')
            div(class="form-group")
                label(for='mdp') Password:
                    input(id="mdp" type='password', placeholder='password' name='mdp')
            button(type="submit" class="btn btn-primary") Créer mon compte